<!DOCTYPE html>
<html>
<head>
    <title>Gra w synonimy</title>
</head>
<body>

<h2>Runda {{ runda }} / 5</h2>
<h3>Podaj 2 synonimy słowa: <b>{{ slowo }}</b></h3>

<form method="POST">
    <input type="text" name="synonim1" placeholder="Pierwszy synonim" required>
    <input type="text" name="synonim2" placeholder="Drugi synonim" required>
    <button type="submit">Sprawdź</button>
</form>

</body>
</html>


<!-- 
<h2>Runda {{ runda }} / 5</h2>
<h3>Punkty: {{ punkty }}</h3>

<h1>{{ slowo }}</h1>

<form method="POST">
    <input name="synonim1" placeholder="Synonim 1" required>
    <input name="synonim2" placeholder="Synonim 2" required>
    <button type="submit">Sprawdź</button>
</form> -->
