
{% extends "base.html" %}

{% block content %}

<h2>Podaj swoje imię</h2>

<form action="/start" method="POST">

    <input 
        type="text" 
        name="nick" 
        id="nickInput"
        placeholder="Twój nick" 
        value="{{ saved_nick }}" 
        required 
        minlength="2" 
        maxlength="20"
    >

    {% if not saved_nick %}
    <div class="remember-wrapper" id="rememberBox">
        <label class="remember-label">
            <input type="checkbox" name="remember">
            <span class="custom-checkbox"></span>
            Zapamiętaj mnie
        </label>
    </div>
    {% else %}
    <div class="remember-wrapper" id="rememberBox" style="display:none;">
        <label class="remember-label">
            <input type="checkbox" name="remember">
            <span class="custom-checkbox"></span>
            Zapamiętaj mnie
        </label>
    </div>
    {% endif %}

    <button type="submit">Zacznij grę</button>
</form>

<br>

<a href="/ranking">
    <button type="button">Zobacz ranking</button>
</a>

<script>
    const nickInput = document.getElementById("nickInput");
    const rememberBox = document.getElementById("rememberBox");
    const savedNick = "{{ saved_nick }}";

    nickInput.addEventListener("input", function() {
        if (nickInput.value !== savedNick) {
            rememberBox.style.display = "flex";
        } else {
            rememberBox.style.display = "none";
        }
    });
</script>

{% endblock %}
